<form action="/create" method="POST" class="form-inline">
	<input type="text" name="task_title" class="span8" placeholder="new task title" />
	<input type="hidden" name="project_id" value="<%= project_id %>" />
	<button type="submit" class="btn"><i class="icon-plus"></i> Create</button>
</form>