<form action="/project/create" method="POST" class="form-inline">
	<input type="text" name="project_name" class="form-control" placeholder="new project" />
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>
</form>