<%if(project)%>
	<form action="/project/create_task" method="POST" class="form-inline">
		<input type="text" name="task_title" class="span3" placeholder="new task" />
		<input type="hidden" name="project_id" value="<%= project._id %>" />
		<button type="submit" class="btn"><i class="icon-plus"></i></button>
	</form>
<% end %>