<!doctype html>
<html>
	<head>
		<title>ToDo</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/css/todo-main.css" />
	</head>
	<body>
		<div class="container">
			<h1>ToDo</h1>
			<%= yield %>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"
	</body>
</html>