.task-title {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.task-description {
	padding: 10px;
	display: none;
}

.edit-button-wrapper {
	width: 14px;
	height: 14px;
	float: left;
	margin-right: 10px;
}

.description-form {
	display: none;
}

.description-form textarea, .description-form button {
	width: 100% !important;
}

.done-tasks {
	opacity: 0.3;
}
