h1 {
	text-align: center;
}

.projects-header button {
	background-color: transparent;
	border: none;
}

.projects-header button .icon-bar {
	background-color: #000;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

.projects-header button .icon-bar+.icon-bar {
  margin-top: 4px;
}

.projects {
	display: none;
}

.task-title {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.task-description {
	padding: 10px;
	display: none;
}

.edit-button-wrapper {
	width: 14px;
	height: 14px;
	float: left;
	margin-right: 10px;
}

.description-form {
	display: none;
}

.description-form textarea, .description-form button {
	width: 100% !important;
}

.done-tasks {
	opacity: 0.3;
}

@media (min-width: 768px) { 
	.projects {
		display: block;
	}

	.projects-header button {
		display: none;
	}
}
